html{
  font-size: 15px;
  box-sizing: border-box;
}
body, #root{
  margin-left: auto;
  margin-right: auto;
  height: 110vh;
  margin: 0;
}
body, input, textarea, select{
  font-size:1.6rem;
  font-family:arial, helvetica,sans-serif;
}
.grid-container{
  display:grid;
  grid-template-areas: "header""main""footer";
  grid-template-rows:5rem 1fr 5rem;
  grid-template-columns:1fr ;
  height: 100%;
}
header{
  grid-area: header;
  background-color:black;
  color:white;
  align-items:center;
  display:flex;
  padding: 5px;
}
header a{
  color: white;
  text-decoration: none;
}
header a:hover{
  color: aqua;
}
footer{
  grid-area: footer;
  background-color:#203040;
  color:white;
  align-items:center;
  justify-content: center;
  display:flex;
}
main{
  grid-area: main;
}